{% extends "admin/admin.html" %}

{% block title %}
Faktury
{% endblock %}

{% block content %}
  <h1>Faktury:</h1>

  {% if moje_faktury %}
    <ul class="invoice-list">
      {% for faktura in moje_faktury %}
      <div class = "content-container">
        <li class="invoice-item">
          <span class="invoice-number">{{ faktura }}</span>
          <a href="{% url 'edytuj_fakture' faktura.nr_faktury %}" class="invoice-action">Edytuj</a>
          <a href="{% url 'usun_fakture' faktura.nr_faktury %}" class="invoice-action">Usuń</a>
        </li>
      </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>Brak dostępnych faktur</p>
  {% endif %}
{% endblock %}
